*{
    margin: 0;
    padding: 0
}
.header-ashappp{
    background-color:black;
    display: block;
}
.ashappp-section{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 57px 29px 59px 0;
}
.ashappp-block1{
width: 572px;
color: white;
background-color: #280e10;
border: 1px solid white;
margin-right: 29px;
}
.ashappp-block2{
width: 572px;
color: white;
background-color: #280e10;
border: 1px solid white;
}
.title-ashappp1{
    font-size: 25px;
padding-top: 94px;
font-family: 'Montserrat', sans-serif;
}
.title-ashappp2{
padding-top: 94px;
font-size: 25px;
font-family: 'Montserrat', sans-serif;
}
.title-ashappp1:after{
    content: "";
    width: 30px;
    height: 2px;
    display: block;
    background-color: aqua;
    margin: 0 auto;
    margin-top: 45px;
}
.text-ashappp{
    padding: 53px 88px 149px 88px;
    font-family: 'Crimson Text', serif;
    font-size: 15px;
    line-height: 1.7;
}
.ashappp-form{
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}
.ashappp-email{
    font-family: 'Montserrat', sans-serif;
    width: 400px;
    margin-top: 20px;
    background:transparent;
    border:none;
    border-bottom: 1px solid white;
    margin-top: 50px;
    padding-bottom: 30px;
    font-weight: 700; 
    color: white;
}
.ashappp-message{
    font-family: 'Montserrat', sans-serif;
    width: 400px;
    margin-top: 20px;
    background:transparent;
    border:none;
    border-bottom: 1px solid white;
    margin-top: 50px;
    font-weight: 700;
    padding-bottom: 30px;
    color: white;
}
.ashappp-message::placeholder{
color:white;
}
.ashappp-email::placeholder{
    color:white;
    }
.ashappp-button{
    display: block;
    border:none;
    margin-top: 50px;
    color: #00c7fc;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    list-style: none;
    text-decoration: none;
    margin-left: 430px;
    font-weight: 700;
}